<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Đặt cơm CG</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <%- include('header') -%>
    <div class="container">
      <div class="order-container">
        <form action="/cart" method="post">
          <h1 style="margin-bottom: 10px">Thông tin đơn hàng</h1>
          <hr />
          <% if(alert) { %>
            <p style="color: red"><%= alert %></p>
          <% } %>
          <% if(data.foods.length > 0) { %>
              <% data.foods.forEach((item) => { %> <%
                if(item.food.status) { %>
              <div id="<%=item.food.id%>" >
                <div class="order-card">
                  <img
                    src="<%= item.food.imageUrl %>"
                    alt="<%= item.food.name %>"
                  />
                  <div>
                    <h4><%= item.food.name %></h4>
                    <p>Order vào lúc: <%= data.createAt.toDateString()%></p>
                    <h6><%= item.food.type %></h6>
                    <div class="form-group col-md flex-grow-0">
                      <div class="qty-input input-group input-spinner">
                        <div class="input-group-prepend">
                          <button class="qty-count qty-count--minus btn btn-light minus" data-id="<%=item._id%>" data-action="minus" type="button">-</button>
                        </div>
                        <input class="product-qty form-control number" id="<%=item._id%>" type="text" name="quantity" min="1" max="3" value="<%= item.quantity%>">
                        <div class="input-group-prepend">
                          <button class="qty-count qty-count--add btn btn-light plus" data-id="<%=item._id%>" data-action="add" type="button">+</button>
                        </div>
                      </div>
                    </div> <!-- col.// -->
                    <button class="btn btn-danger delete-cart"
                            data-id="<%= data._id %>"
                            food-id="<%= item.food.id %>"
                            user-id="<%= locals.userLogin.id %>"
                            style="width: 50%"
                            type="button">
                      Xoá món ăn
                    </button>
                  </div>
                </div>
                <hr />
              </div>
            <% } %>
              <% }) %>
          <% } else { %>
          <h6 style="margin-bottom: 20px">
            Rỏ hàng hiện tại đang trống, vào <a href="/">đây</a> để mua hàng
            ngay!
          </h6>
          <% } %>
          <button type="submit" class="btn btn-primary btn-admin">
            Thanh toán
          </button>
        </form>
      </div>
    </div>
  </body>
  <script>
      $('.delete-cart').click(function() {
        let wantDelete = confirm("Want to delete?");
        if (wantDelete){
          const idFood = $(this).attr('data-id');
          const userId = $(this).attr('user-id');
          const foodId = $(this).attr('food-id');
          if(!userId) {
            top.location.href="login";
            return;
          }
          const origin = location.origin;
          $.ajax({
            url: `${origin}/order/delete/${idFood}`,
            data: {
              id: idFood,
              userId: userId,
              foodId: foodId
            },
            method: "POST",
            success: (response) => {
              if (response._id.length > 0) {
                $(`#${response._id}`).remove();
                updateCartCount();
              } else {
                top.location.href="/";
                return;
              }
            }
          })
        }

      })
      $(document).ready(function(){
        $(".plus").click(function(){
          let id = $(this).attr("data-id");
          let val= $(`#${id}`).val();
          val++;
          if(val > 0 && val <= 3){
            $(`#${id}`).val(val);
          }
        });
        $(".minus").click(function(){
          let id = $(this).attr("data-id");
          let val = $(`#${id}`).val();
          val--;
          if(val > 0){
            $(`#${id}`).val(val);
          }
        })
      });
  </script>
</html>

