<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Đặt cơm CG</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <%- include('header') -%>
    <div class="container">
      <div class="order-container">
        <form action="/cart" method="post">
          <h1 style="margin-bottom: 10px">Thông tin đơn hàng</h1>
          <hr />
          <% if(alert) { %>
          <p style="color: red"><%= alert %></p>
          <% } %> <% if(data.length > 1) { %> <% data.forEach((item) => { %> <%
          if(item.foods[0].food.status) { %>
          <input
            type="text"
            name="foodName"
            style="display: none"
            value="<%= item.foods[0].food.name %>"
          />
          <input
            type="text"
            name="foodType"
            style="display: none"
            value="<%= item.foods[0].food.type %>"
          />
          <div class="order-card">
            <img
              src="<%= item.foods[0].food.imageUrl %>"
              alt="<%= item.foods[0].food.name %>"
            />
            <div>
              <h4><%= item.foods[0].food.name %></h4>
              <p>Order vào lúc: <%= item.dateOrder.toDateString() %></p>
              <h6><%= item.foods[0].food.type %></h6>
              <a
                href="/order/delete/<%= item.id %>"
                class="btn btn-danger"
                style="width: 50%"
                onclick="return confirm('Bạn có chắc muốn xóa món ăn này khỏi hóa đơn?')"
                >Xóa món ăn</a
              >
            </div>
          </div>
          <hr />
          <% } %> <% }) %> <% } else { %>
          <h6 style="margin-bottom: 20px">
            Rỏ hàng hiện tại đang trống, vào <a href="/">đây</a> để mua hàng
            ngay!
          </h6>
          <% } %>
          <button type="submit" class="btn btn-primary btn-admin">
            Thanh toán
          </button>
        </form>
      </div>
    </div>
  </body>
</html>
