<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Đặt cơm CG</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <%- include('header') -%>
    <div class="container">
      <div class="order-container">
        <% if (alert) { %>
          <p style="color: red"><%= alert.errors %></p>
          <p style="color: blue"><%= alert.success %></p>
        <% } %>
        <form action="/cart" method="post">
          <h1 style="margin-bottom: 10px">Thông tin đơn hàng</h1>
          <div class="text-center text-danger error"></div>
          <hr />
          <% if(data.foods && data.status != "success") { %>
            <% if(data.foods.length > 0) { %>
                <% data.foods.forEach((item) => { %>
                  <% if(item.food.status) { %>
                    <div id="<%=item.food.id %>">
                      <div class="order-card">
                        <img
                          src="<%= item.food.imageUrl %>"
                          alt="<%= item.food.name %>"
                        />
                        <div>
                          <h4><%= item.food.name %></h4>
                          <p>Order vào lúc: <%= data.createAt.toDateString()%></p>
                          <h6><%= item.food.type %></h6>
                          <div class="form-group col-md flex-grow-0">
                            <div class="qty-input input-group input-spinner">
                              <div class="input-group-prepend">
                                <button class="qty-count qty-count--minus btn btn-light minus foodQuantity"  value="difference" data-id="<%=item.food._id%>" order-id="<%= data.id %>" data-action="minus" type="button">-</button>
                              </div>
                              <div class="product-qty form-control number quantityFood" data-type="<%=item.food.type%>" id="count-<%=item.food._id%>" type="text" name="quantity">  <%= item.quantity %></div>
                              <div class="input-group-prepend">
                                <button class="qty-count qty-count--add btn btn-light plus foodQuantity" value="total" data-id="<%=item.food._id%>" data-action="add" order-id="<%= data.id %>" type="button">+</button>
                              </div>
                            </div>
                          </div> <!-- col.// -->
                          <button class="btn btn-danger delete-cart"
                                  data-id="<%= data._id %>"
                                  food-id="<%= item.food.id %>"
                                  user-id="<%= locals.userLogin.id %>"
                                  style="width: 50%"
                                  type="button">
                            Xoá món ăn
                          </button>
                        </div>
                      </div>
                      <hr />
                    </div>
                  <% } %>
                <% }) %>
                <button type="submit" class="btn btn-primary btn-admin" id="submit-order">
                  Thanh toán
                </button>
            <% } else { %>
                <h6 style="margin-bottom: 20px">
                  Giỏ hàng hiện tại đang trống, vào <a href="/">đây</a> để mua hàng
                  ngay!
                </h6>
            <% } %>
          <% } else if (data.foods && data.status == "success"){ %>
            <h6 style="margin-bottom: 20px">
              Hôm nay đã order, nhấn vào <a href="/user">đây</a> để kiểm tra ngay!
            </h6>
          <% } %>

        </form>
      </div>
    </div>
  </body>
  <script>

      $('.delete-cart').click(function() {
        let wantDelete = confirm("Want to delete?");
        if (wantDelete){
          const idFood = $(this).attr('data-id');
          const userId = $(this).attr('user-id');
          const foodId = $(this).attr('food-id');
          if(!userId) {
            top.location.href="login";
            return;
          }
          const origin = location.origin;
          $.ajax({
            url: `${origin}/order/delete/${idFood}`,
            data: {
              id: idFood,
              userId: userId,
              foodId: foodId
            },
            method: "POST",
            success: (response) => {
              if (response._id.length > 0) {
                $(`#${response._id}`).remove();
                updateCartCount();
                CheckErros();
              } else {
                top.location.href="/";
                return;
              }
            }
          })
        }

      })
      $(document).ready(function(){
        $(".foodQuantity").click(function(){
          let id = $(this).attr("data-id");
          let orderId = $(this).attr("order-id");
          let math = $(this).val();
          let val = $(`#${id}`).val();
          $.ajax({
            url: `${origin}/order/update-count/${orderId}`,
            data: {
              id: orderId,
              foodId: id,
              math: math
            },
            method: "POST",
            success: (response) => {
              console.log($(`#${id}`).val());
              $(`#count-${id}`).text(response.quantity);
              updateCartCount();
              CheckErros();
            }
          })

          // val++;
          // if(val > 0 && val <= 3){
          //   $(`#${id}`).val(val);
          // }

        });

      });
      function CheckErros() {
        $('.error').empty();
        let vegetables = 0
        let meat = 0
        let disabled = false
        $('.quantityFood').each(function() {
          if (!isNaN($(this).val())) {
            if ($(this).attr('data-type') === "Món thịt"){
              meat += Number($(this).text())
            } else if ($(this).attr('data-type') == "Món rau") {
              vegetables += Number($(this).text())
            }
          }
        });
        <% if (!alert && (data.status != "success")) { %>

          if ((vegetables + meat) < 4 && (vegetables + meat) >= 0 ){
            $('<p>bạn chưa đặt đủ món!</p>').appendTo('.error');
            disabled = true;
          } else if ((vegetables + meat) > 4){
            $('<p>Chỉ đặt tối đa 4 món thôi!</p>').appendTo('.error');
            disabled = true;
          }
          if (meat > 3 ){
            $('<p>Tối đa 3 món mặn thôi!</p>').appendTo('.error');
            disabled = true;
          }
          if(disabled){
            $('#submit-order').prop('disabled', true);
          } else {
            $('#submit-order').prop('disabled', false);
          }
        }
       <% } %>
      CheckErros()
  </script>
</html>

