<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Đặt cơm CG</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <%- include('header') -%>
    <div class="container">
      <h1>Đặt cơm online CodeGym</h1>
      <button class="btn btn-add btn-sort" id="meatsort" onclick="meatsort()">
        Món thịt
      </button>
      <button class="btn btn-add btn-sort" id="vegsort" onclick="vegsort()">
        Món rau
      </button>
      <a href="/" class="btn btn-add btn-sort">Tất cả</a>
      <hr />
      <div class="card-form" id="container">
        <% data.forEach((item) => { %>
        <div class="card">
          <div class="img_wrapper">
            <img
              class="card-img-top"
              src="<%= item.imageUrl %>"
              alt="Card image cap"
            />
          </div>
          <div class="card-body">
            <h5 class="card-title">
              <a href="/detail/<%= item._id %>"> <%= item.name %></a>
            </h5>
            <h6 class="card-title"><%= item.type %></h6>
            <p class="card-text"><%= item.des %></p>

            <button type="button"
              class="btn btn-primary btn-add add-cart"
              data-id="<%=item.id%>"
              <% if(locals.userLogin) { %> 
                user-id='<%= locals.userLogin.id %>'
              <% } %> >
           
              Đặt món
            </button>
          </div>
        </div>
        <% }) %>
      </div>
    </div>
    <%- include('footer') -%>
  </body>
  <script>

    $(document).on('click', '.add-cart' , function() {
      const id = $(this).attr('data-id');
      console.log(id);
      const userId = $(this).attr('user-id');
      if(!userId) {
        top.location.href="login";
        return;
      } 
      const origin = location.origin;
      $.ajax({
        url: `${origin}/order`,
        data: {
          id: id,
          userId: userId
        },
        method: "POST",
        success: (response) => {
          $.get("/cartcount", function (results) {
          $("#cart-counter").html(results);
        });
        }
      })
    })

    function meatsort() {
      $.get("/meatsort", function (results) {
        $("#container").html(renderSearchResults(results));
      });
    }

    function vegsort() {
      $.get("/vegsort", function (results) {
        $("#container").html(renderSearchResults(results));
      });
    }
  </script>
</html>
